# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# PKGBUILD files MUST be LF not CRLF.
# Force them to be checked out as such.
PKGBUILD text eol=lf
PKGBUILD.template text eol=lf
