[Unit]
Description=chaskis
After=network.target

[Service]
Type=forking
WorkingDirectory=/usr/lib/Chaskis/bin/
ExecStart=/usr/lib/Chaskis/bin/Chaskis.Service
TimeoutStopSecs=5
Restart=always

[Install]
Alias=chaskis.service
WantedBy=default.target
