[Unit]
Description=chaskis
After=network.target

[Service]
ExecStart=/usr/bin/mono-service /home/chaskis/bin/ChaskisService.exe

[Install]
Alias=chaskis.service
WantedBy=multi-user.target
